extends partial/layout


block site_title
    !=  "友链 · " + config.title

block description
    - var desc = '友链页面 - ' + config.title;
    meta(name="description", content=desc)


block content
    .autopagerize_page_element: .content
        .links-container
            h2.page-title 友链
            .links-grid
                each link, index in site.data.links
                    .link-card(style=`--delay:${index}`)
                        a.link-card-inner(href=link.url, target="_blank", title=link.description)
                            .link-avatar
                                img(src=link.avatar, alt=link.title)
                            .link-info
                                h3.link-title #{link.title}
                                if link.description
                                    p.link-description #{link.description}