extends partial/layout

block site_title
    if is_current('tags')
        != "标签 · " + config.title
    else if is_current('about')
        != "关于 · " + config.title
    else if is_current('guestbook')
        != "留言 · " + config.title
    else if is_current('projects')
        != "项目 · " + config.title
    else
        != page.title + " · " + config.title


block description
    - var desc = page.desc || strip_html(page.content).replace(/^\s*/, '').replace(/\s*$/, '').substring(0, 150);
    meta(name="description", content=desc)

block content
    if is_current('tags')
        .autopagerize_page_element: .content
            .tags-page
                .tags-grid
                    each tag in site.tags.sort('name', 1).data
                        a.tag-item(href=tag.permalink, style=`--delay:${index * 0.02}`)
                            span.tag-icon <i class="fas fa-hashtag"></i>
                            span.tag-name #{tag.name}
                            span.tag-count #{tag.length}
                
    else
        .autopagerize_page_element: .content: .post-page
            include mixins
            +make_post(page, true)
            if page.comments
                include partial/comments
