.footer
  .p 
    span © #{theme.copyright} #{theme.author} All Rights Reserved.
    //- i.fa.fa-star
    //- span  #{theme.author}

  .by_farbox
    span Technical support provided by 
    a(href="https://github.com/sreok", target="_blank") #{theme.author}  
    span  & 
    a(href="https://hexo.io/zh-cn/", target="_blank") Hexo 

  .beian
    //- a(href="https://beian.miit.gov.cn/", target="_blank") #{theme.beian}
    //- span(style="height:10px;margin-left: 10px;") |
    img(src = url_for('images/gongan.png'), style="height:10px;margin-right: 10px;position: relative;top: 1px;")
    a(href="https://beian.miit.gov.cn/", target="_blank") #{theme.beian}
