.page-top.animated.fadeInDown
  // 汉堡菜单按钮 - 仅在移动设备显示
  .mobile-menu-btn
    i.fa.fa-bars

  // 移动设备菜单 - 默认隐藏
  .mobile-menu
    .nav.mobile-nav
      li
        if is_home()
          a.current(href="/")= __('Home')
        else
          a(href="/")= __('Home')

      li
        if is_archive()
          a.current(href="/archives")= __('Archives')
        else
          a(href="/archives")= __('Archives')

      li
        if is_current('tags')
          a.current(href="/tags")= __('Tags')     
        else
          a(href="/tags")= __('Tags')

      li
        if is_current('about')
          a.current(href="/about")= __('About')     
        else
          a(href="/about")= __('About')

      li
        if is_current('links')
          a.current(href="/links")= __('Links')
        else
          a(href="/links")= __('Links')

      li
        if is_current('guestbook')
          a.current(href="/guestbook")= __('Guestbook')
        else
          a(href="/guestbook")= __('Guestbook')

    // 移动端信息区域 - 移除了头像和搜索按钮，因为它们现在始终显示在导航栏右上角
    .mobile-information
      // 保留空的信息区域以便保持菜单结构一致
      div

  // 桌面端导航 - 默认显示
  .nav.desktop-nav
    li
      if is_home()
        a.current(href="/")= __('Home')
      else
        a(href="/")= __('Home')

    li
      if is_archive()
        a.current(href="/archives")= __('Archives')
      else
        a(href="/archives")= __('Archives')

    li
      if is_current('tags')
        a.current(href="/tags")= __('Tags')     
      else
        a(href="/tags")= __('Tags')

    li
      if is_current('about')
        a.current(href="/about")= __('About')     
      else
        a(href="/about")= __('About')

    li
      if is_current('links')
        a.current(href="/links")= __('Links')
      else
        a(href="/links")= __('Links')

    li
      if is_current('guestbook')
        a.current(href="/guestbook")= __('Guestbook')
      else
        a(href="/guestbook")= __('Guestbook')		


  // 桌面端信息区域
  .information.desktop-information
    .back_btn
      li
        if is_post()
          a.fa.fa-chevron-left(onclick="window.history.go(-1)") 
        else
          a.fa.fa-chevron-left(onclick="window.history.go(-1)",style="display:none;") 
    
    .search_btn
      li
        if theme.local_search == true 
          a#search-button
            i.fa.fa-search

    .avatar
      if theme.right_top_logo == true
        img(src=theme.avatar)