.sidebar.animated.fadeInDown
  .logo-title
    .title
      img(src= url_for('images/logo.png'),style="width:127px;")
      h3(title="")
        a(href="/")= config.title
      if theme.description
        .description
          p!= theme.description

  ul.social-links
    if theme.github
      li
        a(href=theme.github)
          i.fa.fa-github
    if theme.mail
      li
        a(href=theme.mail)
          i.fa.fa-envelope
    if theme.qq
      li
        a(href= theme.qq)
          i.fa.fa-qq
    if theme.wechat
      li
        a(href= theme.wechat)
          i.fa.fa-weixin
    if theme.zhihu
      li
        a(href=theme.zhihu)
          i.fa.fa-mortar-board
    if theme.rss == true
      li
        a(href="/rss.xml")
          i.fa.fa-rss
  include footer
